NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5vdWdoLWdvYmJsZXItNTkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_1uLl3mFh1DVaZuh2tPF1sCuaJtoq0HC3tPnKaVyVg1
NEXT_PUBLIC_CLERK_SIGN_IN_URL=sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=sign-up

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.izeyquywriarqwomwvta:_8n.8JXKKYw#Ren@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.izeyquywriarqwomwvta:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

ARCJET_KEY=ajkey_01jm746w8gepnv69haczkqshp6